@model Web.Models.UsuarioPerfilViewModel
@using Web.Extensions;

@{
    ViewData["Title"] = "Perfil X Usuários";
}


<table id="perfilUsuario" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            @foreach (var item in Model.ListaPerfil)
            {
                <th>
                    @item.Descricao
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuarios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                @foreach (var perfil in Model.ListaPerfil)
                {
                    <td>
                        <input type="checkbox" @Model.PossuiPerfil(item, perfil.Descricao) onchange="checkPerfil('@item.Id','@perfil.Id', $(this).is(':checked'))" />
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#perfilUsuario').DataTable({
                "lengthChange": false,
                "oLanguage": {
                    "sSearch": "Pesquisar Usuário:",
                    "sZeroRecords": "Nenhum registro encontrado!",
                    "sInfo":"_START_ de _END_",
                    "oPaginate": {
                        "sNext": "Proximo",
                        "sPrevious":"Anterior"
                    }
                }
            });
        });

        function checkPerfil(id, idPerfil, check) {
            var action = check ? "AdicionarPerfilUsuario" : "RemoverPerfilUsuario";

            $.ajax({
                type: "POST",
                url: action,
                data: { idUsuario: id, idPerfil: idPerfil },
                success: function (data) {
                },
            });
        }
    </script>
}
