@model IEnumerable<Web.Models.PerfilViewModel>
@{
    ViewData["Title"] = "Lista de Perfil";
}

<h1 class="text-center"><i>Perfils</i></h1>

<p>
    <a asp-controller="Administracao" asp-action="CreatePerfil" class="btn btn-outline-info">Adicionar Perfil</a>
</p>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permissoes)
            </td>
            <td class="text-right">
                <a class="btn btn-warning" asp-action="EditPerfil" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                <a class="btn btn-danger" asp-action="DeletePerfil" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
        }
    </tbody>
</table>