@model Web.Models.DepartamentoViewModel

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membro.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro.CPF)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Membros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td class="text-right">
                    <a class="btn btn-danger" asp-action="DeleteMembro" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>                                            
            </tr>
        }
    </tbody>
</table>


