@model Web.Models.DepartamentoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Informação somente leitura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
    <h4>Líderes</h4>
    <dl class="row">
        @foreach (var item in Model.Lideres)
        {
            <dt class="col-sm-2">
                Nome:
            </dt>
            <dd class="col-sm-10">
                @item.Nome
            </dd>
        }
    </dl>

    <h4>Membros</h4>
    <dl class="row">
        @foreach (var item in Model.Membros)
        {
            <dt class="col-sm-2">
                Nome:
            </dt>
            <dd class="col-sm-10">
                @item.Nome
            </dd>
        }
    </dl>
</div>

<!--region botoes--->
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>